/* Responsividade para telas menores que 768px */
@media screen and (max-width: 768px) {
    .menu {
        padding: 10px; /* Reduz o espaçamento interno */
        margin: 10px; /* Reduz a margem externa */
    }

    .menu h2 {
        font-size: 1.3em; /* Reduz o tamanho da fonte dos títulos */
    }

    .menu ul li {
        font-size: 0.9em; /* Reduz o tamanho da fonte dos itens */
    }

    .menu ul li span {
        font-size: 0.9em; /* Reduz o tamanho da fonte dos preços */
    }
}

/* Responsividade para telas menores que 480px */
@media screen and (max-width: 480px) {
    .menu h2 {
        font-size: 1.1em; /* Reduz ainda mais o tamanho da fonte dos títulos */
    }

    .menu ul li {
        font-size: 0.8em; /* Reduz ainda mais o tamanho da fonte dos itens */
    }

    .menu ul li span {
        font-size: 0.8em; /* Reduz ainda mais o tamanho da fonte dos preços */
    }
}
